.img-square-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-size: cover;
  border: #fff solid 2px;
  margin: 4px;
  border-radius: .3rem;
}
